<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{!-- 
        get => traer informacion
        post => mandar informacion
     --}}
    <form action="/login" method="POST">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" />

        <label for="password">Password</label>
        <input id="password" type="password" name="password" />

         <label for="email">demo</label>
        <input id="email" type="text" name="perro" />

        <button type="submit">Login</button>
    </form>
</body>
</html>