<section>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga rerum, rem cupiditate asperiores quas ad aliquam distinctio? Praesentium commodi at iusto, in, ipsum assumenda ex, nulla laudantium nemo fugiat itaque.</p>
</section>