<h1>Login</h1>
<form>
    <label>Email</label>
    <input type="email" required name="email">
    <label>Password:</label>
    <input type="password" required name="password">
</form>

{{!--

    req.body = {
       email :"perro@demo.com",
       password: "Nova182"
    }

    si el input no lleva nombre jamas de los jamas se va a mandar el valor de input al backend
  --}}